@import "tailwindcss";

@theme {
  --color-primary: #e11d48;
  --color-primary-hover: #be123c;
  --color-background-light: #fdf8f9;
  --color-background-dark: #131015;
  --font-display: "Plus Jakarta Sans", sans-serif;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.fill-icon {
  font-variation-settings: 'FILL' 1;
}