@import "tailwindcss";

@theme {
  --color-primary: #ee2b9d;
  --color-primary-hover: #d11a82;
  --color-background-light: #f8f6f7;
  --color-background-dark: #22101a;
  --color-success: #10b981;
  --color-danger: #ef4444;
  --font-display: "Plus Jakarta Sans", sans-serif;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.fill-icon {
  font-variation-settings: 'FILL' 1;
}